.bg::after{
  content: "";
  position: absolute;
  background-image: url('/assets/Group 16.png');
  z-index: 1;
  top: -150px;
  right: 0px;
  width: 800px;
  height: 600px;
  background-repeat: no-repeat;
  filter: blur(90px) ;
  -webkit-filter: blur(90px) ;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
