.blur-bg::before {
  content: "";
  position: absolute;
  width: 538px;
  height: 604px;
  left: 31px;
  top: -100px;
  left: -50px;
  background: #82f7ff;
  opacity: 0.3;
  filter: blur(80px);
  transform: rotate(100deg);
  z-index: 1;
  -webkit-filter: blur(80px);
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  -o-transform: rotate(100deg);
}
.lbg::before{
  content: "";
  position: absolute;
  background-image: url('/assets/bglef.png');
  z-index: 1;
  width: 600px;
  height: 600px;
  left: -250px;
  background-repeat: no-repeat;
  filter: blur(100px) ;
  -webkit-filter: blur(100px) ;
}
.bg::after{
  content: "";
  position: absolute;
  background-image: url('/assets/Group 15.svg');
  z-index: 1;
  top: -100px;
  right: -150px;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  filter: blur(20px) ;
  -webkit-filter: blur(20px) ;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.avatar-shadow {
  box-sizing: border-box;
  filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
}

text {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
}


.bg-yellow {
  background-color: yellow;
}
.transition {
  transition: background 0.25s ease, color 0.25s ease;
}

//  .swiper-slide-active{

//   width: 1200px !important;
//   background: brown;
// }


.slick-slider {
  background: rgb(255, 255, 255);
}
:host ::ng-deep .slick-list {

  overflow: visible;

}
:host ::ng-deep.slick-dotted.slick-slider {
  margin-bottom: 150px;
}
:host ::ng-deep.slick-dots {

  bottom: -135px;

}

:host ::ng-deep.slick-slide {

  margin-right: 30px;
  margin-left: 30px;
}
// body .slick-prev,
// body .slick-next {
//   height: 45px;
//   width: 40px;
//   background: grey !important;
//   z-index: 100;
// }
